{% extends 'base.html.twig' %}
{% block title %}Auctions {{ category }}{% endblock %}

{% block body %}
    <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout">
        <header class="mdl-layout__header mdl-layout__header--scroll">
            <div class="mdl-layout__header-row">
                <a class="mdl-layout-title" href="{{ path('static', {'category': 'all'}) }}">
                    <span>AliOnion</span>
                </a>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="{{ path('static', {'category': 'all'}) }}">Auctions</a>
                    <a class="mdl-navigation__link" href="{{ path('static', {'category': 'deals'}) }}">Deals</a>
                    <a class="mdl-navigation__link" href="{{ path('static', {'category': 'promoted'}) }}">Promoted</a>
                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    {% else %}
                    <a class="mdl-navigation__link" href="{{ path('app_homepage_login')}}">Login</a>
                    <a class="mdl-navigation__link" href="{{ path('app_homepage_register')}}">Register</a>
                    {% endif %}

                </nav>
            </div>
        </header>
        {% if is_granted("IS_AUTHENTICATED_FULLY") %}

        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">
                <img src="{{ asset('/images/aliOnionLogo.png') }}" alt="">
                    {{ app.user.username }}
            </span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="{{ path('app_homepage_panel') }}">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>
                    Create auction
                </a>
                <a class="mdl-navigation__link" href="{{ path('app_homepage_panelauctions') }}">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">local_offer</i>
                    My auctions
                </a>
                <a class="mdl-navigation__link" href=" {{ path('fos_user_security_logout') }}">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i>
                    Log out
                </a>
            </nav>
        </div>
        {% endif %}

        <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">Title</div>
            <ul class="mdl-mini-footer__link-list">
                <li><a href="#">Help</a></li>
                <li><a href="#">Privacy & Terms</a></li>
            </ul>
        </div>
    </footer>
    {% block component %} {% endblock %}
    </div>
    <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    </body>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}