{% extends '@App/body.html.twig' %}
{% block title %}Auctions of {{ user }}{% endblock %}

{% block component %}
    <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="overview">
            {% for auction in auctions %}
                <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                    <div class="mdl-card mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                            <a class="mdl-cell mdl-cell--12-col" href="{{ path('app_homepage_auction', {'id': auction.id}) }}">
                                <h4>{{ auction.name }}</h4>
                            </a>
                            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                                <image src="{{ asset(auction.photo) }}"></image>
                            </div>
                            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                                <h5>Lorem ipsum dolor sit amet</h5>
                                Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Duis nulla tempor do aute et eiusmod velit exercitation nostrud quis <a href="#">proident minim</a>.
                                <p>{{ auction.description }}</p>
                            </div>
                            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                                <span>Owner: {{ auction.owner }}</span>
                            </div>
                            <div class="section__circle-container mdl-cell mdl-cell--4-col mdl-cell--2-col-phone">
                                <span>
                                    Date created: {{ auction.dateCreated|date('d-m-y') }}
                                </span>
                            </div>
                            <div style="text-align: right" class="section__circle-container mdl-cell mdl-cell--6-col mdl-cell--1-col-phone">
                                <a href="{{ path('app_homepage_panelauctions', {'id': auction.id}) }}">
                                    <span>Delete auction</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            {% endfor %}
        </div>
    </main>
    </div>
    <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    </body>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}