{% extends '@App/body.html.twig' %}
{% block title %}Xiaomi{% endblock %}

{% block component %}
        <main class="mdl-layout__content">
            <div class="mdl-card mdl-shadow--6dp">
                <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                    <h2 class="mdl-card__title-text">Create auction</h2>
                </div>
                <div class="mdl-card__supporting-text">

                    {{ form_start(form) }}
                    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig'%}
                    <div class="form-group">
                        <a href="#" id="add-another-feature">
                            <label class="col-sm-2 control-label required">Features</label>
                        </a>
                        {{ form_errors(form.features) }}

                        <ul id="features-fields-list"
                            data-prototype="smth">
                            {% for feature in form.features %}
                                <div class="col-sm-10">
                                    <li style="list-style-type:none">
                                        {{ form_errors(feature) }}
                                        {{ form_widget(feature) }}
                                    </li>
                                </div>
                            {% endfor %}
                        </ul>
                    </div>
                    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
                    <script type="text/javascript">
                        var formCount = '{{ form.features|length }}';
                        jQuery(document).ready(function() {
                            jQuery('#add-another-feature').click(function(e) {
                                e.preventDefault();
                                var featuresList = jQuery('#features-fields-list');

                                // grab the prototype template
                                var newWidget = '<input class="form-control" style="list-style:none" placeholder="Feature" type="text" id="form_features___name__" name="form[features][__name__]" value="" />';
                                newWidget = newWidget.replace(/__name__/g, formCount);
                                formCount++;

                                // create a new list element and add it to the list
                                var newLi = jQuery('<li></li>').html(newWidget);
                                $(newLi).css('list-style-type', 'none');
                                newLi.appendTo(featuresList);
                            });
                        })
                    </script>
                    {{ form_end(form) }}
                </div>
            </div>
        </main>
    </div>
    <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    </body>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}