{% extends '@App/body.html.twig' %}
{% block title %}Xiaomi{% endblock %}

{% block component %}
        <main class="mdl-layout__content">
            <div class="mdl-card mdl-shadow--6dp">
                <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                    <h2 class="mdl-card__title-text">Acme Co.</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    {{ render(controller('FOSUserBundle:Registration:register')) }}
                </div>
            </div>
        </main>
    </div>
    <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    </body>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}